.container{
  font-family: 'Montserrat', sans-serif;
  background-color: #3C2A21;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.left{
  background-color: #1A120B;
  position: fixed;
  width: 12rem;
  height: 100%;
}

.title{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-top: 20px;
  color : #E5E5CB;
  font-size: 25px;
}

.title>img{
  width: 50px;
  background-color: black;
  border-radius: 50%;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.menu>a{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: #E5E5CB;
  opacity: 60%;
}

.menu>a>img{
  width: 20px;
  height: 20px;
}

.menu>a:hover{
  opacity: 100%;
}

.menu>a.active{
  opacity: 100%;
}

.beda{
  padding-top: 30px;
}

.footer{
  display: flex;
  position: absolute;
  bottom: 25px;
  flex-direction: column;
  justify-content: left;
  font-size: 10px;
  padding-left: 20px;
  gap: 5px;
}

.footer>a{
  text-decoration: none;
  color: #E5E5CB;
  opacity: 60%;
}

.footer>a:hover{
  text-decoration: underline;
  opacity: 100%;
}

.header{
  background-color: #382116;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 12rem;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.menu-head{
  display: flex;
  gap: 15px;
  padding-right: 15px; 
}

.menu-head>a{
  text-decoration: none;
  font-size: 15px;
  color: #E5E5CB;
  opacity: 60%;
  transition: transform .1s;
}

.menu-head>a:hover{
  opacity: 100%;
  transform: scale(1.1);
}

.login-con{
  display: flex;
  gap: 15px;
  padding-right: 25px;
  align-items: center;
}

.login-con>a{
  text-decoration: none;
}

.signup{
  color: #E5E5CB;
  opacity: 60%;
  transition: transform .1s;
}

.signup:hover{
  opacity: 100%;
  transform: scale(1.1);
}

.login-con::before{
  content: "";
  display: block;
  width: 1px;
  height: 25px;
  top: 32%;
  right: 29%;
  background-color: #E5E5CB;
  z-index: +1;
}

.login{
  color: #3C2A21;
  background-color: #E5E5CB;
  border-radius: 30px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  transition: transform .1s;
}

.login:hover{
  transform: scale(1.1);
  font-weight: bold;
}

.content{
  background-color: #3C2A21;
  color: #E5E5CB;
  padding-left: 12rem;
  padding-top: 75px;
  right: 0px;
  left: 12rem;
}

.active{
  opacity: 100%;
}

/* home */
.home{
  padding-left: 25px;
  color: #E5E5CB;
}

.home>a{
  text-decoration: none;
  color: #382116;
  background-color: #E5E5CB;
  border-radius: 10px;
  padding: 15px;
  transition: trasform .1s;
}

.home>a:hover{
  transform: scale(1.1);
}

/* home */

/* about me */
.aboutme{
  padding-left: 25px;
  color: #E5E5CB;
}

.contactme{
  text-decoration: none;
  color: #382116;
  background-color: #E5E5CB;
  border-radius: 10px;
  padding: 15px;
  transition: transform .1s;
} 

.contactme:hover{
  transform: scale(1.1);
  /* font-weight: bold; */
}
/* about me */